h1{
   font-family: time news romance;
   text-align: center;
}

/** large device */
@media (min-width:1000px){
h1{
  color: violet;
 
  background-color:#8FBC8F;
}
}
/** medium device */
@media (max-width:999px){
  h1{
    color: #2F4F4F;

    background-color:#DCDCDC;
  }
}
